
body {
  font-family: arial, sans-serif;
  background-image:url("https://images.unsplash.com/photo-1546514355-7fdc90ccbd03?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
   background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
height: 100vh;
}

h1 {
  color: blue;
  font-size: 24px;
  font-weight: 100;
  line-height: 12px;
  margin-bottom: 1.5em;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: blue;
  font-size: 22PX;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid blue;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: blue;
  font-size: 78PX;
  line-height: 1;
  font-weight: 900px;
   border-radius:25px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
   
}

.weather-temperature .active {
  color: blue;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: blue;
}

.weather-forecast-date {
  font-size: 36px;
  opacity: 1.6;
    border-radius:25px 25px;
  margin-top: 20px;
}

.weather-forecast-temperature-min {
  opacity: 0.9;
    border-radius:25px 25px;
  margin-top: 20px;

}

.weather-forecast-temperatures {
  font-size: 25px;
   border-radius:25px 25px;
  margin-top: 20px;
   

}
.col6{
  color:blue;
    
}
