@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&family=Tajawal:wght@300;500&display=swap');

* {
    box-sizing: border-box;
}
body {
  
    background-image:url('https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870') ;
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
height: 100vh;
font-family: 'Tajawal', sans-serif;

}

.column {
    float: left;
    width: 20%;
    padding: 10px;
    height: 265px;
    justify-content: space-between;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
   
}
.current-weather{
    text-align: center;
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.current{
    text-align: center;
}
.time {
    font-size: 25px;

}
.search-button{
   background-color: rgba(42, 54, 192, 0.637);
}

.row:hover{
    background-color:rgb(76, 91, 175);
}